.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 20px;
  line-height: 30px;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
